.search-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.search-books--form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-books--form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
}
.search-books--form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 10px;
}
.search-books--results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}